{{>dashboard/header}}
    <div class="container">

        <div class="row">
            {{>dashboard/sidenav}}            
            {{{body}}}
        </div>

    




    </div>


{{>dashboard/modals}}

{{>dashboard/footer}}