<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
<script src="https://kit.fontawesome.com/29a9bad99d.js" crossorigin="anonymous"></script>

{{!-- Custom Script --}}
<script>
    $(document).ready(function () {

        $(document).on('click', '.singleVideoContainer', function () {
            var videoId = $(this).data(videoId).videoid
            var videoURL = 'https://www.youtube.com/embed/' + videoId
            $('.modalVideo').attr('src',videoURL)
            console.log(videoURL)
            console.log(videoId)

        })


    })

</script>


</body>

<!-- 
API KEY: AIzaSyDSvbQ56Hy4OPQRsRzYsLYRU1d7RLynjH0
URL:  https://www.googleapis.com/youtube/v3/search?key=AIzaSyDSvbQ56Hy4OPQRsRzYsLYRU1d7RLynjH0&channelId=UCMiJRAwDNSNzuYeN2uWa0pA&part=snippet,id&order=date&maxResults=20

-->

</html>