 <div class="contentContainer-header">


                        <div class="photoCard">
                            <div class="img-circle">
                                <img src="{{data.snippet.thumbnails.default.url}}" alt="">
                            </div>
                            <div class="text-group">
                                <p class="font-weight-bold">{{data.snippet.title}}</p>
                                <p class="joinDate">Joined On {{join_date}}</p>
                            </div>
                        </div>


                        <div class="buttonContainer ">
                            <a href='https://www.youtube.com/c/{{channelStats.snippet.customUrl}}' target="blank" class="smallButton">VISIT </a>
                        </div>




                    </div>