<div class="col-lg-3 d-none d-lg-flex">
                <div class="navContainer scroll-active ">
                    <div class="logoContainer">
                        <img src="/assets/images/Logo.png" alt="">
                    </div>
                    <div class="searchContainer">
                        <form action="/dashboard" method="post" style="display: inline;">
                        <div class="input-group">
                        <input type="text" class="searchInput form-control" name="channelName" placeholder="Search Channel">
                        <div class="input-group-append">
                              <button class="iButton" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                      
                        </div>
                        </form>
                    </div>

                    <div class="linkContainer">
                        <ul>
                            <li><a class="navLinkText" href="/"><i class="fas fa-home"></i> Home</a></li>
                            <li><a class="navLinkText" target="_blank"  href=""><i class="fas fa-code"></i> Source Code</a></li>
                            <li><a class="navLinkText" target="_blank" href="https://developers.google.com/youtube/v3/docs/search"><i class="fab fa-youtube"></i> YouTube API</a></li>
                            <li><a class="navLinkText" target="_blank" href="https://ferilsunu.me"><i class="fas fa-address-card"></i> About Creator</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>